
* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: hidden;
}

.forest-layer {
  z-index: 1;
}

.snow-layer {
  z-index: 2;
}

.img-comp-overlay {
  z-index: 3;
}

.img-comp-img img {
  display:block;
  vertical-align:middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}
