# .gitignore는 git에 올리고 싶지 않은 파일이나 디렉토리를 지정하는 파일입니다.
# 파일은 확장자까지 적어줍니다.
# 폴더는 폴더명 뒤에 /를 붙여서 지정합니다.
# 예시 )


# 테스트와 관련된 아직 동작하지않는 파일이나 디렉토리는 숨김처리
node_modules/
playwright-report/
test-results/
tests/
playwright.config.js
눈에보임.txt

# 외부 노출을 원하지 않는 파일이나 아이디, 비밀번호 등 민감 정보들을 디렉토리 숨김처리
# * 은 모든 이라는 의미를 가지고 있습니다.
# !는 주로 not을 의미합니다. 제외하고 싶을 때 사용합니다.